[Unit]
Description=AMS iSoftRepo Service

[Service]
User=isoftrepo
WorkingDirectory=~
Type=simple
ExecStart=/opt/ams-isoftrepo/9.0/sbin/ams-isoftrepo

[Install]
WantedBy=multi-user.target
